
.Live-text{

}

#the-card{

    
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 0 10px;
    max-width: 80vw;
    margin: 0 auto;
    
    
    
}



/* CSS Style for Live Stream Card */
.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
    width: 300px;
    height: 360px;
    box-shadow: rgb(255, 255, 255);
    padding: 10px;
}

.card:hover {
    transform: translateY(-5px); 
}

.thumb img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd; 
}

.about {
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

.Chanal img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.Detail-live {
    margin-top: 11px;
}

.live-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.creater-name {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.view {
    font-size: 14px;
    color: #888;
}
