#side{

    top: 55px;
    z-Index: 99;
    background-color: #0f1b2a;
    height: 90vh;
    width: 180px;
    position: fixed;
  
    
}
.side-main{
  
    display: grid;
    grid-auto-rows: 40px;
    align-items: center;
    margin-top: 25px;
    font-size: 1.5rem;
    
 
    
 
}

.material-symbols-outlined{
    color: #ffffff;
    cursor: pointer;
}


.side-main .side-item{
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    padding-left: 30px;
    height: 60px;
    position: sticky;
    top: 0;
    bottom:20px;
    transition: 0.3s ease-in-out ;
    
    
}

.side-main .side-item:hover{

    .material-symbols-outlined{
        color: #ffffff;
    }
    

    .side-taxt{
      color: #ffffff;  
    }
    background-color: #485169;
}
.side-taxt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

.side-main:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    
    
    
}
