.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80px;
  
  
  
}

.Start {
    display: flex;
    align-items: center;
    margin: 15px;
    letter-spacing: 1px;
}

.Hamberger {
    cursor: pointer;
    display: none;
    margin-right: 25px ;
}

.logo {
    font-size: 1.5em;
}

.navbar {
    display: flex;
    align-items: center;
}

#Nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
}

.side-main {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 100%;
}

.side-item {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
#last-taxt{
    color: orange;
    letter-spacing: 1px;
}
.icon {
    margin-right: 8px;
}

.side-taxt {
    display: flex;  
    font-size: 1.5rem;
}

.End {
    display: flex;
    align-items: center;
    margin: 25px;
}

.end-item {
    margin-left: 20px;
}

.material-symbols-outlined{
    color:rgb(0, 0, 0);
}

@media (max-width: 768px) {
    .navbar {
        display: none; /* Hide navbar on smaller screens */
    }

    .side-taxt {
        display: none;
    }

    .Hamberger {
        display: block;
    }
}
