/* Navbar Container */
#nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #0f1b2a;
  
  
}

#nav .Start {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    width: 100%;
    padding-left: 10px;
}

#nav .Hamberger {
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 22px;
    padding: 1.6rem;
}

#nav .logo {
    color: #ffffff;
    padding: 3rem;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#last-taxt {
    color: chocolate;
}

#nav .End {
    padding: 5rem;
}

.end-item {
    color: #000000;
}

/* Navbar Links */
#Nav {
    position: absolute;
    top: 40px;
    left:0;
    width: 200px;
    height: 95vh;
    background: #faf4e3;
    padding: 0;
    transition: right 0.3s ease; /* เพิ่ม transition เพื่อให้มีการเคลื่อนไหวอย่างนุ่มนวล */
}

#Nav.active {
    right: 0; /* เลื่อนแถบ Navbar เข้ามาแสดงบนหน้าจอ */
}

#Nav li {
    margin-bottom: 40px;
}



#mobile i {
    font-size: 30px;
}


.side-item{

    padding-left: 10px;
}